<ul class="breadcrumb">
  <li><a href="#/">Indices</a></li>
</ul>
<input type="text" ng-model="query" class="span2 search-query">
<table class="table table-hover">
  <thead>
    <tr>
      <th>name</th>
      <th>primary_size</th>
      <th>num_docs</th>
      <th>max_doc</th>
      <th>deleted_docs</th>
    </tr>
  </thead> 
  <tbody>
    <tr ng-repeat="index in indices | filter:query">
      <td>
        {{index.name}}
      </td>
      <td>
        {{index.stats.index.primary_size}}
      </td>
      <td>
        {{index.stats.docs.num_docs}}
      </td>
      <td>
        {{index.stats.docs.max_doc}}
      </td>
      <td>
        {{index.stats.docs.deleted_docs}}
      </td>
    </tr>
  </tbody>
</table>
